<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
 	
  </head>
  <body>
  	<%- include('header.ejs') %>
  	
  	<div class="container">
  		
  		 <div class="row">
	  <div class="col-xs-12 col-md-12">
	  	<div class="jumbotron">
			  <h1>Hello, world!</h1>
			  <p>用心看世界</p>
			</div>
	  </div>
	 </div>
  		
  		<div class="row">
 			 <div class="col-md-12">
  			<h3>写日志</h3>
				<form action="/users/addArt" method="post">
	    		<div>主题：<input type="text" name="title" class="form-control"/></div>
	    		<div style="margin:10px 0;">内容： <textarea name="con" rows="10" class="form-control" ></textarea></div>
	    		<input type="submit" value="发布" class="btn btn-danger"/>
	   		</form>
 			 </div>
			</div>
			
			
		
  		


    
  	</div>
  	
  	
  	
   

  </body>
</html>
