<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
			<div class="head">
				<span>欢迎来到博客部落!</span>
				 <ul class="nav nav-pills">
				<li><a href='/login'>登录</a></li>
				<li><a href='/register'>注册</a></li>
				</ul>
			</div>
<div class="container">
  <div class="row">
	  <div class="col-xs-12 col-md-12">
	  	<div class="jumbotron">
			  <h1>Hello, world!</h1>
			  <p>用心看世界！</p>
			</div>
	 		</div>
	 	</div>
	 <div class="row">
	 	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="/images/car.jpg" alt="...">
	      <div class="caption">
	        <h3>摩拜在安徽六安投放半天就被清收拉走，谁的错？</h3>
	        <p>刚刚投放的共享单车，当天中午即遭清收拉走，被网友调侃为“史上最短命”共享单车，这是近日发生在安徽省六安市的一起事件。究竟是企业未经政府同意投放车辆“太任性”，还是当地城管部门思维僵化管理“太粗暴”？单车管理是要先审批，还是先试水？如何避免对抗、寻找交集？新华社“中国网事”记者就此进行了调查。</p>
	        <!--<p><a href="#" class="btn btn-primary" role="button">阅读全文</a> </p>-->
	        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">阅读全文</button>
	        	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">摩拜在安徽六安投放半天就被清收拉走，谁的错？</h4>
						      </div>
						      <div class="modal-body">
	      						<img src="/images/car.jpg" alt="...">
	       						 <p>刚刚投放的共享单车，当天中午即遭清收拉走，被网友调侃为“史上最短命”共享单车，这是近日发生在安徽省六安市的一起事件。究竟是企业未经政府同意投放车辆“太任性”，还是当地城管部门思维僵化管理“太粗暴”？单车管理是要先审批，还是先试水？如何避免对抗、寻找交集？新华社“中国网事”记者就此进行了调查。</p>
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						     
						      </div>
						    </div>
						  </div>
						</div>
	        
	      </div>
	    </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="/images/ai.jpg" alt="...">
	      <div class="caption">
	        <h3>人工智能不仅能参加高考，百度还用它来帮你估分填志愿</h3>
	        <p>　在刚刚过去的两天里，考生丢失准考证，“奇葩”的高考作文题，原作者回答不了用自己的文章出的题......但是这些都离科技圈太远，“AI 高考机器人”才是这个圈子里最大的热点。不过，以 AI为发展核心的百度今年却没有参上一脚。百度教育的一名工作人员告诉雷锋网，高考机器人更像是一种技术的展现，他们要做的是如何更好地服务人,帮助学生和老师解决实际问题。</p>
	        <p><a href="#" class="btn btn-primary" role="button">阅读全文</a> </p>
	      </div>
	    </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="/images/ofo.jpg" alt="...">
	      <div class="caption">
	        <h3>ofo又有新款单车，这回专门针对女性用户推出“公主车”</h3>
	        <p>　6 月 9 日消息，共享单车平台 ofo 小黄车今日发布针对女性用户的“公主车”。据悉，此次发布的新车由凤凰自行车生产，采用金属和仿皮革设计的复古元素。目前该车型已在北京、上海地区投入使用，首批投放 1 万辆。据了解，此次“公主车”是 ofo 小黄车首次为特定人群提供骑行车型。ofo 小黄车表示，未来将为更多人群带来更多不同车型。</p>
	        <p><a href="#" class="btn btn-primary" role="button">阅读全文</a></p>
	      </div>
	    </div>
    </div>
    
	</div>
</div>    
 </body> 
</html>
