<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
 	
  </head>
  <body>
  	<%- include('header.ejs') %>
  	<div class="container">
  		<div class="row">
 			 <div class="col-md-12">
 			 	
  			<%- include('pic.ejs') %>
  			
 			 </div>
			</div>
  	</div>
  	
  	
  	
   

  </body>
</html>
