<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/grid-accordion.css" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/grid-accordion-example1.css" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/photo.css" media="screen">
<!--JS代码网顶部CSS-->
<link href="http://www.js-css.cn/jscode/jscode.css" rel="stylesheet" />
<!--JS代码网顶部CSS-->
<style>
*{margin:0px;font-size:12px;}
</style>
<script type="text/javascript" src="http://www.js-css.cn/jscode/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.gridAccordion.min.js"></script>
<script type="text/javascript">
	
jQuery(document).ready(function($) {
    $('.accordion').gridAccordion({
        width: 960,
        height: 680,
        columns: 5,
        distance: 2,
        closedPanelWidth: 10,
        closedPanelHeight: 10,
        alignType: 'centerCenter',
        slideshow: true,
        panelProperties: {
            0 : {
                captionWidth: 200,
                captionHeight: 35,
                captionTop: 30,
                captionLeft: 30
            },
            4 : {
                captionWidth: 150,
                captionHeight: 100,
                captionTop: 30,
                captionLeft: 650
            },
            7 : {
                captionWidth: 310,
                captionHeight: 35,
                captionTop: 350,
                captionLeft: 40
            },
            8 : {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 150,
                captionLeft: 35
            },
            11 : {
                captionWidth: 150,
                captionHeight: 120,
                captionTop: 300,
                captionLeft: 30
            },
            14 : {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 30,
                captionLeft: 50
            },
            16 : {
                captionWidth: 150,
                captionHeight: 120,
                captionTop: 150,
                captionLeft: 10
            },
            18 : {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 130,
                captionLeft: 50
            }
        }
    });
});
	
</script>
</head>
<body>

<!--JS代码网头部-->
<br />

<ul class="accordion">
  <li> <a href="http://www.js-css.cn"><img src="images/001/1.png" alt=""></a>
    <div class="caption">This is just a simple caption.</div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="/images/001/2.jpg" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/3.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/4.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/5.jpg" alt=""></a>
    <div class="caption"><u>Title</u><br/>
      <br/>
      This is a list of items:
      <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
      </ul>
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/2.jpg" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/3.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/4.png" alt=""></a>
    <div class="caption">Captions can have any position and any size.</div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/5.jpg" alt=""></a>
    <div class="caption">Add <b>HTML</b> elements like <a href="http://www.js-css.cn">links</a> or
      <input type="button" value="Buttons">
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/5.jpg" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/3.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/4.png" alt=""></a>
    <div class="caption"><u>Title</u><br/>
      <br/>
      This is a list of items:
      <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
      </ul>
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/1.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/2.jpg" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/3.png" alt=""></a>
    <div class="caption">Add <b>HTML</b> elements like <a href="http://www.js-css.cn">links</a> or
      <input type="button" value="Buttons">
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/1.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/2.jpg" alt=""></a>
    <div class="caption"><u>Title</u><br/>
      <br/>
      This is a list of items:
      <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
      </ul>
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/3.png" alt=""></a> </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/4.png" alt=""></a>
    <div class="caption">Add <b>HTML</b> elements like <a href="http://www.js-css.cn">links</a> or
      <input type="button" value="Buttons">
    </div>
  </li>
  <li> <a href="http://www.js-css.cn"><img src="images/001/image1.jpg" alt=""></a> </li>
</ul>
</body>
</html>
